<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.nullicn.skytakeserver.mapper.DishFlavorMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        insert into dish_flavor (dish_id, name, value) values
        <foreach collection="flavors" item="item" separator=",">
            (#{item.dishId}, #{item.name}, #{item.value})
        </foreach>
    </insert>

    <update id="update" parameterType="DishFlavor">
        update dish_flavor
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="dishId != null">dish_id = #{dishId},</if>
            <if test="value != null and value != ''">value = #{value},</if>
        </set>
        where id = #{id}
    </update>

</mapper>
